/* Thanks to Andy Bolton Strength */

p { font-family: Verdana;
    font-size: 13px;
    text-indent: 20px;
}

.questions { font-family: Verdana;
             font-size: 13px;
}

.bullets { font-family: Verdana;
             font-size: 13px;
}

.heading { font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

.subHeading { font-family: Verdana;
           font-size: 14px;
           font-weight: bold;


}

#heading {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}


#heading1 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

#heading2 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

#heading3 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

#heading4 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}


#heading5 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

#heading6 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

#heading7 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

#heading8 {font-family: Verdana;
           font-size: 18px;
           color: Red;
           font-weight: bold;
           text-align: center;
}

.testimonials { color: #000000; font-family: Courier New, Courier, mono ; line-height: 22px; font-size: 13px; font-weight: normal;}


.testimonialsName { color: #000000; font-family: Courier New, Courier, mono ; line-height: 22px; font-size: 13px; font-weight: bold; font-style: italic;}


.testimonialsQuotationMark {
        FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #cc0000; FONT-FAMILY: Georgia, Times New Roman, Times, serif; TEXT-DECORATION: none}















